@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.title{
    text-align: center;
    font-size: 3rem;
    padding: .8rem .4rem;
}
.gallery{
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 160px;
    gap: .8em;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img4"
    "img5 img5 img6 img7"
    "img5 img5 img8 img8";
}
.galery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__picture{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.gallery__picture::before{
    content: "Hola";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1d1515a6;
    transform: translate(100%);
    transition: transform .5s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.gallery__picture:hover::before{
    transform: translate(0) ;
}
.gallery__picture--g1{
    grid-area: img1;
}
.gallery__picture--g2{
    grid-area: img2;
}
.gallery__picture--g3{
    grid-area: img3;
}
.gallery__picture--g4{
    grid-area: img4;
}
.gallery__picture--g5{
    grid-area: img5;
}
.gallery__picture--g6{
    grid-area: img6;
}
.gallery__picture--g7{
    grid-area: img7;
}
.gallery__picture--g8{
    grid-area: img8
}
@media(max-width: 778px){
    .title{
        font-size: 2rem;
        padding: .8 .4;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "img1 img1"
        "img1 img1" 
        "img2 img3"
        "img4 img4"  
        "img4 img4"  
        "img5 img5"  
        "img5 img5"  
        "img6 img7"
        "img8 img8"  
         ;
    }
    .gallery__picture::before{
        font-size: 1rem;
    }
}

